# H1: Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objective**

- Explore popluar languages for Data Science.
- Understand key concepts of machine learning and its applications.
- Learn how to manipulate and analyze data using pandas.

# Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia

|Data Science Tools|
|------------------|
|NumPy|
|Panda|
|TensorFlow|

### Below are a few examples of evaluating arithetic expressions in Python

### This a simple arithmetic expression to muliply then add integers

In [3]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [4]:
minutes = 200 
hours = 60
minutes/hours

3.3333333333333335

## Author

Edrienne Dorsey